<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="libs/semantic.min.css">
</head>
<body ng-app="semantic-ui" ng-controller="MainController">

  <!-- IGNORE -->

  <div sm-sidebar-bind="{closable:false, dimPage:false}" id="sidebar" class="ui left vertical inverted labeled icon sidebar menu">

    <sm-menu-item icon="home">Home</sm-menu-item>
    <sm-menu-item icon="calendar">Calendar</sm-menu-item>

    <a class="item"><i class="inbox icon"></i>Inbox</a>
    <a class="item"><i class="checkmark box icon"></i>Todo</a>
    <a class="item"><i class="tasks icon"></i>Chores</a>
    <a class="item"><i class="add to cart icon"></i>Grocery List</a>
    <a class="item"><i class="in cart icon"></i>Pantry</a>
    <a class="item"><i class="food icon"></i>Meals</a>
    <a class="item"><i class="wait icon"></i>Expires</a>
    <a class="item"><i class="browser icon"></i>Contacts</a>
    <a class="item"><i class="photo icon"></i>Media</a>
    <a class="item"><i class="music icon"></i>Music</a>
    <a class="item"><i class="wizard icon"></i>Wish Lists</a>
    <a class="item"><i class="car icon"></i>Mileage</a>
    <a class="item"><i class="paint brush icon"></i>Drawings</a>
    <a class="item"><i class="edit icon"></i>Notes</a>

    <sm-menu-item icon="users">Roommates</sm-menu-item>
  </div>
  <div class="pusher">

    <div class="ui container">
      <div class="ui segments">
        <div class="ui segment">

          <sm-button sm-sidebar-toggle="'#sidebar'" class="basic"><i class="icon sidebar"></i>Toggle Sidebar</sm-button>

          <br><br>

          <sm-button ng-click="handleClick()" ng-class="{disabled: disabled}">Click Me</sm-button>

          <br><br>

          <sm-dropdown id="flat" model="flatSelected" items="flatOptions" value="item" label="item" class="selection" default-text="'- Select -'"></sm-dropdown>

          {{ flatSelected }}

          <sm-button ng-click="flatSelected = 'wrong'">Set Wrong</sm-button>

          <sm-button sm-dropdown-clear="'#flat'">Clear</sm-button>

          <span sm-data="{s: flatSelected}"></span>

          <br><br>

          <sm-dropdown model="selected" items="options" value="item" label="item.name" class="selection"></sm-dropdown>

          {{ selected }}{{ selected.meow() }}

          <br><br>

          <sm-modal visible="modalVisible">
            <i class="close icon"></i>
            <div class="header">
              Modal Title
            </div>
            <div class="content">
              <div class="image">
                An image can appear on left or an icon
              </div>
              <div class="description">
                A description can appear on the right
              </div>
            </div>
            <div class="actions">      
              <div class="ui button" ng-click="modalVisible = false">Cancel</div>
              <div class="ui button" ng-click="modalVisible = false">OK</div>
            </div>
          </sm-modal>

          <sm-button ng-click="modalVisible = !modalVisible">Toggle Modal</sm-button> {{ modalVisible }}

          <br><br>

          <sm-progress value="progress" show-percent="true" class="active indicating violet">{{progress}}% Funded</sm-progress>
          <sm-button ng-click="progress = progress + 10">+</sm-button>
          <sm-button ng-click="progress = progress - 10">-</sm-button>

          <br><br>

          <sm-rating value="rating" total="'5'"></sm-rating> {{ rating }}<br>
          <sm-rating value="rating" total="'5'" type="star"></sm-rating> {{ rating }}<br>
          <sm-rating value="rating" total="'5'" type="heart"></sm-rating> {{ rating }}<br>

          <br><br>

          <div class="ui button" sm-popup="flatSelected" sm-popup-title="'Title'" sm-popup-position="right center">Yes</div>

          <br><br>

          <sm-button sm-popup-display="taco" sm-popup-display-settings="{on:'click'}">Special Popup</sm-button>

          <sm-popup-detached name="taco">
            <div class="header">Custom Header</div>
            <br>
            <div class="ui button">Click Me</div>
            <br>
          </sm-popup-detached>

          <br><br>

          <sm-button sm-popup-inline>Hello!</sm-button>
          <sm-popup-detached>
            <div class="header">Im a Header!</div>
            Hello World!
          </sm-popup-detached>

          <br><br>

          <sm-accordion class="styled">
            <sm-accordion-group title="'Group #1'">
              Group #1 Contents
            </sm-accordion-group>
            <sm-accordion-group title="'Group #2'">
              Group #2 Contents
            </sm-accordion-group>
          </sm-accordion>

          <br><br>

          <sm-checkbox value="checkAll" label="Fruits" children="#fruits .child" indeterminate-value="'mixed'"></sm-checkbox> ({{ checkAll }})

          <div class="ui relaxed list" id="fruits" style="margin: 5px 20px">
            <div class="item">
              <sm-checkbox value="check1" label="Apple" class="child"></sm-checkbox> ({{ check1 }})
            </div>
            <div class="item">
              <sm-checkbox value="check2" label="Orange" class="child"></sm-checkbox> ({{ check2 }})
            </div>
            <div class="item">
              <sm-checkbox value="check3" label="Pair" class="child" checked-value="1" unchecked-value="2"></sm-checkbox> ({{ check3 }})
            </div>
          </div>

          <br><br>

          <sm-search value="searchedValue" local="content"></sm-search>

          <br><br>

          <br><br>

          <br><br>

          <sm-dimmer class="page" id="pdim" settings="{closable: true}">
            <div class="content">
              <div class="center">
                <h2 class="ui inverted icon header">
                  <i class="mail icon"></i>
                  Dimmer Message
                  <div class="sub header">Dimmer sub-header</div>
                </h2>
              </div>
            </div>
          </sm-dimmer>

          <sm-button sm-dimmer-show="'#pdim'">Show Dimmer</sm-button>

          <br><br>
          <br><br>
          <br><br>

          <sm-tab-menu tabs="{first: 'First', second: 'Second', third: 'Third'}" class="top attached tabular"></sm-tab-menu>
          <sm-tab name="first">First Content</sm-tab>
          <sm-tab name="second">Second Content</sm-tab>
          <sm-tab name="third">Third Content</sm-tab>

          <br><br>
          <br><br>
          <br><br>

        </div><!-- ui segment -->
      </div><!-- ui segments -->
    </div><!-- ui container -->

  </div><!-- .pusher -->


  <script src="libs/jquery.min.js"></script>
  <script src="libs/angular.min.js"></script>
  <script src="libs/semantic.min.js"></script>

  <script>

    /**
     * MODAL {visible}
     */

    var app = angular.module('semantic-ui', []);

    app.controller('MainController', ['$scope',
    function MainController($scope) {

      $scope.disabled = false;

      $scope.handleClick = function() {
        alert( 'Clicked!' );
        $scope.disabled = !$scope.disabled;
      };

      $scope.createLabel = function(item) {
        return '<b>' + item.text + '</b>';
      };

      $scope.flatSelected = 'akjhf';
      $scope.flatOptions = ['Yes', 'No'];

      $scope.options = [
        {name: 'Phil', id:4},
        {name: 'Tom', id:5},
        {name: 'Bob', id:6, meow:function(){return 'MEOW';}}
      ];
      $scope.selected = null;

      $scope.modalVisible = false;

      $scope.progress = 30;

      $scope.rating = 4;

      $scope.onControlInit = function(element) {
        console.log( 'onInit', element );
      };

      $scope.checkAll = false;
      $scope.check1 = false;
      $scope.check2 = true;
      $scope.check3 = 1;


      $scope.searchedValue = '';
      $scope.content = [
        { title: 'Andorra' },
        { title: 'United Arab Emirates' },
        { title: 'Afghanistan' },
        { title: 'Antigua' },
        { title: 'Anguilla' },
        { title: 'Albania' },
        { title: 'Armenia' },
        { title: 'Netherlands Antilles' },
        { title: 'Angola' },
        { title: 'Argentina' },
        { title: 'American Samoa' },
        { title: 'Austria' },
        { title: 'Australia' },
        { title: 'Aruba' },
        { title: 'Aland Islands' },
        { title: 'Azerbaijan' },
        { title: 'Bosnia' },
        { title: 'Barbados' },
        { title: 'Bangladesh' },
        { title: 'Belgium' },
        { title: 'Burkina Faso' },
        { title: 'Bulgaria' },
        { title: 'Bahrain' },
        { title: 'Burundi' }
      ];

    }])






    app.factory('SemanticUI', 
    function SemanticUI() 
    {
      return {
        bindAttribute: function(scope, variable, element, attribute)
        {
          scope.$watch( variable, function(updated)
          {
            element.attr( attribute, updated );
          });
        },
        onEvent: function(settings, evt, func)
        {
          settings[ evt ] = (function(existing) {
            return function EventHandler() {
              if ( angular.isFunction( existing ) ) {
                existing.apply( this, arguments );
              }
              func.apply( this, arguments );
            }
          })( settings[ evt ] );
        },
        linkEvents: function(scope, settings, linkings)
        {
          for (var evt in linkings)
          {
            var scopeVariable = linkings[ evt ];

            this.onEvent( settings, evt, function()
            {
              var scopeValue = scope[ scopeVariable ];

              if ( angular.isFunction( scopeValue ) )
              {
                scopeValue.apply( this, arguments );
              }
            });
          }
        },
        createBind: function(attribute, module)
        {
          var helper = this;
          var scope = {};
          scope[ attribute ] = '=';

          return {
            restrict: 'A',
            scope: scope,
            link: function(scope, element, attributes) {
              helper.initBind( scope, attribute, element, module );
            }
          };
        },
        initBind: function(scope, attribute, element, module)
        {
          element.ready(function()
          {
            element[ module ]( scope[ attribute ] );
          });
        },
        createBehavior: function(attribute, module, method)
        {
          var helper = this;
          var scope = {};
          scope[ attribute ] = '=';

          return {
            restrict: 'A',
            scope: scope,
            link: function(scope, element, attributes) {
              helper.initBehavior( scope, attribute, element, module, method );
            }
          };
        },
        initBehavior: function(scope, attribute, element, module, method)
        {
          // Default settings on the attribute.
          var settings = {
            $: undefined,
            evt: 'click',
            enabled: true,
            value: undefined
          };

          // Grab the value the user passed in.
          var input = scope[ attribute ];
          
          // If the attribute value is a string, take it as the selector
          if ( angular.isString( input ) ) 
          {
            settings.$ = input;
          }
          // If the attribute value is an object, overwrite the defaults.
          else if ( angular.isObject( input ) ) 
          {
            if ( !angular.isString( input.evt ) ) input.evt = settings.evt;
            if ( !angular.isDefined( input.enabled ) ) input.enabled = settings.enabled;

            settings = input;
          }

          var onEvent = function() 
          {
            // If the trigger is currently enabled...
            if ( settings.enabled ) 
            {
              // Call the method on the module.
              $( settings.$ )[ module ]( method, settings.value ); 
            }
          };

          element.ready(function()
          {
            element.on( settings.evt, onEvent );
          });
        },
        async: function(scope, func)
        {
          return function() 
          {
            var context = this;
            var args = Array.prototype.slice.call( arguments );

            scope.$evalAsync(function()
            {
              func.apply( context, args );
            })
          }
        },
        watcher: function(scope, expression, func, context) 
        {
          var ignoreUpdate = false;

          scope.$watch( expression, function( updated )
          {
            if ( !ignoreUpdate )
            {
              func.call( context, updated );
            }

            ignoreUpdate = false;
          });

          return {
            set: function(value)
            {
              if ( scope[ expression ] != value )
              {
                scope.$evalAsync(function()
                {
                  scope[ expression ] = value;
                  ignoreUpdate = true;
                });
              }
            }
          }
        }
      };
    })


  </script>

  <script src="addons.js"></script>

  <script src="accordion.js"></script>
  <script src="checkbox.js"></script>
  <script src="dimmer.js"></script>
  <script src="dropdown.js"></script>
  <script src="embed.js"></script>
  <script src="modal.js"></script>
  <script src="popup.js"></script>
  <script src="progress.js"></script>
  <script src="rating.js"></script>
  <script src="search.js"></script>
  <script src="shape.js"></script>
  <script src="sidebar.js"></script>
  <script src="sticky.js"></script>
  <script src="tab.js"></script>
  <script src="transition.js"></script>
  

</body>
</html>